player-connection-mode=Listen
player-connection-guid=2083710190
player-connection-debug=0
player-connection-project-name=Chessticle
player-connection-ip=192.168.171.1
player-connection-ip=192.168.75.1
player-connection-ip=192.168.1.14
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=4e77bad0a9a9452689e5aae43a422d3d
